h1{
    border : 5px solid burlywood;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

button {
    width: 10%;
    height: 10%;
    justify-content: center;
    font-size: 30px;
}